<p>
  <b>Notes:</b>
  <%=h @todo.notes %>
</p>

<p>
  <b>Title:</b>
  <%=h @todo.title %>
</p>

<p>
  <b>Due:</b>
  <%=h @todo.due %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
